/* colours */
.primary-color {
  background-color: #625ff1;
}

.secondary-color {
  background-color: #1511bf;
}

.tertiary-color {
  background-color: #1511bf;
}

/* navbar section styling */

.navbarSection {
  color: white;
  background-color: black;
}

/* unvisited link */

.navbarSection a {
  color: white;
}

.navbarSection a:link {
  color: white;
}

/* visited link */
.navbarSection a:visited {
  color: #625ff1;
}

/* mouse over link */
.navbarSection a:hover {
  color: #625ff1;
}

/* selected link */
.navbarSection a:active {
  color: #625ff1;
}

#sec-one,
#sec-three {
  color: white;
}

#sec-two {
  color: white;
  background-color: black;
}

.footerSection {
  background-color: black;
}

.footer-item a {
  color: white;
}

/* adding dark mode functionality */

@media (prefers-color-scheme: dark) {
  .primary-color {
    background-color: #625ff1;
  }

  .secondary-color {
    background-color: #625ff1;
  }

  .tertiary-color {
    background-color: #1511bf;
  }
}
