/* generic / page styling */
* {
  font-family: "Montserrat", sans-serif;
}

/* colours */
.primary-color-bg {
  background-color: #625ff1;
}

.primary-text-color {
  color: #fff;
}

.liveIcon {
  color: #625ff1;
}

.inactiveIcon {
  color: black;
}

/* unstyling links */

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}