/* generic / page styling */
* {
  font-family: "Montserrat", sans-serif;
}

/* colours */
.primary-color-bg {
  background-color: #625ff1;
}

.primary-text-color {
  color: #fff;
}

.liveIcon {
  color: #625ff1;
  animation: blink 5s infinite;
}

@keyframes blink{
  20% {
    color: black;
  }
  40% {
    color: #625ff1;
  }
  60% {
    color: black;
  }
  80% {
    color: #625ff1;
  }
}

.inactiveIcon {
  color: black;
}

/* unstyling links */

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}


@media only screen and (max-width: 768px) {  
  .skillsIconsSection {
    font-size: 8px;
  }
  }