/* generic / page styling */
* {
  font-family: "Montserrat", sans-serif;
}

/* colors */
.primary-color-bg {
  background-color: #625ff1;
}

.primary-text-color {
  color: #fff;
}

.liveIcon {
  color: #625ff1;
  animation: blink 5s infinite;
}

@keyframes blink {
  0% {
    color: black;
  }
  50% {
    color: #625ff1;
  }
  100% {
    color: black;
  }
}

span {
  animation: blink 1s ease-in-out infinite;
}


.inactiveIcon {
  color: black;
  animation: blink none;
}

/* unstyled links */

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}


@media only screen and (max-width: 768px) {  
  .skillsIconsSection {
    font-size: 8px;
  }
  }